In [6]:
import os
import gc
import warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.experimental import enable_iterative_imputer 
from sklearn.impute import IterativeImputer
warnings.filterwarnings(action = 'ignore')

In [ ]:
def Missing_Data_Plot(data = None,col = None):
    """
    Plot the missing data of dataset or column
    """

In [13]:
df = pd.DataFrame(
{
    'age':[25,27,29,31,33,np.nan,37,39,41,np.nan,45],
    'exp':[np.nan,3,5,7,9,11,13,16,np.nan,19,21],
    'salary':[50,np.nan,110,140,170,200,230,260,np.nan,320,350]
})
df

     age   exp  salary
0   25.0   NaN    50.0
1   27.0   3.0     NaN
2   29.0   5.0   110.0
3   31.0   7.0   140.0
4   33.0   9.0   170.0
5    NaN  11.0   200.0
6   37.0  13.0   230.0
7   39.0  16.0   260.0
8   41.0   NaN     NaN
9    NaN  19.0   320.0
10  45.0  21.0   350.0

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import R

In [11]:
imp = IterativeImputer(estimator=LinearRegression(),verbose=2, max_iter=30,tol=1e-10,imputation_order='random')

In [12]:
imp.fit_transform(df)

[IterativeImputer] Completing matrix with shape (11, 3)
[IterativeImputer] Ending imputation round 1/30, elapsed time 0.13
[IterativeImputer] Change: 123.17517004266139, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 2/30, elapsed time 0.13
[IterativeImputer] Change: 0.9821140935853236, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 3/30, elapsed time 0.13
[IterativeImputer] Change: 2.7219369254347434, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 4/30, elapsed time 0.14
[IterativeImputer] Change: 1.1232046644463196, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 5/30, elapsed time 0.14
[IterativeImputer] Change: 0.8699000245378556, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 6/30, elapsed time 0.14
[IterativeImputer] Change: 0.791158283438449, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 7/30, elapsed time 0.14
[IterativeImputer] Change: 0.06655759029558794, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 8/30, elapsed time 0.14
[IterativeImputer] Change: 0.03294459267328875, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 9/30, elapsed time 0.15
[IterativeImputer] Change: 0.8775705299340189, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 10/30, elapsed time 0.15
[IterativeImputer] Change: 0.7571293143230378, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 11/30, elapsed time 0.15
[IterativeImputer] Change: 3.929059175789007e-06, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 12/30, elapsed time 0.15
[IterativeImputer] Change: 0.07355288500230017, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 13/30, elapsed time 0.15
[IterativeImputer] Change: 0.834970058882277, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 14/30, elapsed time 0.15
[IterativeImputer] Change: 0.7645011001332023, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 15/30, elapsed time 0.16
[IterativeImputer] Change: 0.07195092396943892, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 16/30, elapsed time 0.16
[IterativeImputer] Change: 0.8363265991210938, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 17/30, elapsed time 0.16
[IterativeImputer] Change: 0.07773208833054923, scaled tolerance: 3.5e-08
[IterativeImputer] Ending imputation round 18/30, elapsed time 0.16
[IterativeImputer] Change: 4.6981085688457824e-11, scaled tolerance: 3.5e-08
[IterativeImputer] Early stopping criterion reached.

array([[ 25.        ,   0.95599365,  50.        ],
       [ 27.        ,   3.        ,  80.        ],
       [ 29.        ,   5.        , 110.        ],
       [ 31.        ,   7.        , 140.        ],
       [ 33.        ,   9.        , 170.        ],
       [ 35.        ,  11.        , 200.        ],
       [ 37.        ,  13.        , 230.        ],
       [ 39.        ,  16.        , 260.        ],
       [ 41.        ,  17.17034912, 290.        ],
       [ 43.        ,  19.        , 320.        ],
       [ 45.        ,  21.        , 350.        ]])

In [15]:
imp.fit_transform(df[['age']])

array([[25.        ],
       [27.        ],
       [29.        ],
       [31.        ],
       [33.        ],
       [34.11111111],
       [37.        ],
       [39.        ],
       [41.        ],
       [34.11111111],
       [45.        ]])