In [306]:
import os
import gc
import warnings
import random
import pandas as pd
import numpy as np
import itertools
%run Page_Style.ipynb
warnings.filterwarnings(action='ignore')

In [3]:
train_X = pd.read_csv("./train_filled_Outliers.csv")

## Encoding

### loanAmnt

In [14]:
train_X['loanAmnt'].value_counts()

10000.0    59068
12000.0    43291
20000.0    41885
15000.0    41629
35000.0    30371
           ...
725.0          1
37775.0        1
36725.0        1
950.0          1
37750.0        1
Name: loanAmnt, Length: 1474, dtype: int64

In [210]:
Rare_Get_Value_Counts(train_X, col ='loanAmnt', num = 1000)

         counts
22400.0     984
6600.0      976
8800.0      943
14500.0     941
1600.0      875
...         ...
21400.0     101
16850.0     101
14875.0     101
9625.0      101
24950.0     101

[575 rows x 1 columns]

In [201]:
Rare_Value_Impute(train_X, col = 'loanAmnt',num = 100, method='extreme', value= 999999)

0         35000.0
1         18000.0
2         12000.0
3         11000.0
4          3000.0
           ...
799995    25000.0
799996    17000.0
799997     6000.0
799998    19200.0
799999     9000.0
Name: loanAmnt, Length: 800000, dtype: float64

### term

In [213]:
Rare_Get_Value_Counts(train_X,col = 'term',num = 100000)
"""term 无需编码"""

完整的数值分布：

3    606902
5    193098
Name: term, dtype: int64
Empty DataFrame
Columns: [counts]
Index: []

'term 无需编码'

### interestRate

In [222]:
Rare_Get_Value_Counts(train_X, col = 'interestRate', num = 10)

完整的数值分布：

10.99    22549
11.99    19674
13.99    17420
5.32     17033
9.17     15523
         ...
14.75        1
24.76        1
17.54        1
18.36        1
14.28        1
Name: interestRate, Length: 589, dtype: int64
取值少于10

       counts
9.96       10
10.28      10
12.22      10
24.33      10
12.72      10
...       ...
14.75       1
24.76       1
17.54       1
18.36       1
14.28       1

[119 rows x 1 columns]

In [223]:
Rare_Value_Impute(train_X, col = 'interestRate', num = 10,method='extreme',value=9999)

0         19.52
1         18.49
2         16.99
3          7.26
4         12.99
          ...
799995    14.49
799996     7.90
799997    13.33
799998     6.92
799999    11.06
Name: interestRate, Length: 800000, dtype: float64

### installment

In [227]:
Rare_Get_Value_Counts(train_X, col='installment', num = 1)

完整的数值分布：

327.34     1843
301.15     1592
332.10     1543
318.79     1358
491.01     1245
           ...
1036.79       1
699.99        1
490.96        1
277.97        1
523.99        1
Name: installment, Length: 72360, dtype: int64
取值少于1

         counts
970.06        1
338.42        1
892.30        1
62.80         1
502.88        1
...         ...
1036.79       1
699.99        1
490.96        1
277.97        1
523.99        1

[21990 rows x 1 columns]

In [228]:
Rare_Value_Impute(train_X,col= 'installment', num = 1,method='extreme',value=999999)

0         917.97
1         461.90
2         298.17
3         340.96
4         101.07
           ...
799995    860.41
799996    531.94
799997    203.12
799998    592.14
799999    294.91
Name: installment, Length: 800000, dtype: float64

### employmentTitle

In [229]:
Rare_Get_Value_Counts(train_X,col='employmentTitle',num =10)

完整的数值分布：

293518.625    53171
54.000        51150
38.000        12644
32.000        11543
184.000        6112
              ...
244573.000        1
71957.000         1
166678.000        1
13584.000         1
134854.000        1
Name: employmentTitle, Length: 197339, dtype: int64
取值少于10

          counts
17790.0       10
220323.0      10
219277.0      10
4404.0        10
44027.0       10
...          ...
244573.0       1
71957.0        1
166678.0       1
13584.0        1
134854.0       1

[191538 rows x 1 columns]

In [230]:
Rare_Value_Impute(train_X,col = 'employmentTitle', num = 10, method='extreme', value= '-111')

0            320.0
1         219843.0
2             -111
3             -111
4             54.0
            ...
799995      2659.0
799996     29205.0
799997      2582.0
799998       151.0
799999        13.0
Name: employmentTitle, Length: 800000, dtype: object

### homeOwnership

In [322]:
Rare_Get_Value_Counts(train_X, col = 'homeOwnership', num = 10)
"""homeOwnership已经做过处理"""

完整的数值分布：

0.0    395732
1.0    317660
2.0     86309
3.5       299
Name: homeOwnership, dtype: int64
取值少于10

Empty DataFrame
Columns: [counts]
Index: []

'homeOwnership已经做过处理'

### annualIncome

In [329]:
Rare_Get_Value_Counts(train_X, col = 'annualIncome', num = 100)

完整的数值分布：

156601.00    39014
60000.00     30682
50000.00     27062
65000.00     23126
70000.00     22076
             ...
51387.00         1
93821.00         1
34823.40         1
24439.00         1
41389.04         1
Name: annualIncome, Length: 42520, dtype: int64
取值少于100

          counts
20400.00     100
44200.00      98
49900.00      95
18500.00      94
20800.00      94
...          ...
51387.00       1
93821.00       1
34823.40       1
24439.00       1
41389.04       1

[42234 rows x 1 columns]

In [331]:
Rare_Value_Impute(train_X,col = 'annualIncome', num = 100)

0         110000.0
1          46000.0
2          74000.0
3         118000.0
4          29000.0
            ...
799995     72000.0
799996     99000.0
799997     65000.0
799998     96000.0
799999    120000.0
Name: annualIncome, Length: 800000, dtype: float64

### verificationStatus

In [332]:
Rare_Get_Value_Counts(train_X,col= 'verificationStatus', num =  10)

完整的数值分布：

1    309810
2    248968
0    241222
Name: verificationStatus, dtype: int64
取值少于10

Empty DataFrame
Columns: [counts]
Index: []

### purpose

In [333]:
Rare_Get_Value_Counts(train_X,col= 'purpose', num =  10)

完整的数值分布：

0.0     464096
4.0     175433
2.0      52129
5.0      46276
3.0      17579
9.0       9238
1.0       9106
8.0       8657
10.0      5652
7.0       5373
6.0       4354
11.0      2107
Name: purpose, dtype: int64
取值少于10

Empty DataFrame
Columns: [counts]
Index: []

### postCode

In [334]:
Rare_Get_Value_Counts(train_X,col= 'postCode', num =  10)

完整的数值分布：

134.0    8956
19.0     8611
51.0     8161
31.0     7337
4.0      7176
         ...
758.0      15
802.0      10
822.0       5
821.0       2
825.0       1
Name: postCode, Length: 835, dtype: int64
取值少于10

       counts
802.0      10
822.0       5
821.0       2
825.0       1

In [335]:
Rare_Value_Impute(train_X,col = 'postCode',num = 10, method='extreme', value = 999999)

0         137.0
1         156.0
2         337.0
3         148.0
4         301.0
          ...
799995    242.0
799996    563.0
799997     47.0
799998     34.0
799999     62.0
Name: postCode, Length: 800000, dtype: float64

### regionCode

In [338]:
Rare_Get_Value_Counts(train_X,col = 'regionCode',num = 100)

完整的数值分布：

8.0     116921
14.0     65768
13.0     65041
21.0     56671
2.0      30513
30.0     28634
0.0      27180
19.0     26198
3.0      25766
9.0      22902
7.0      22600
23.0     20919
10.0     19604
12.0     18543
26.0     18432
22.0     17722
18.0     17286
44.0     14948
4.0      14177
11.0     12929
24.0     12776
32.0     12065
38.0     11982
36.0     11644
27.0     10521
17.0      9863
35.0      9669
5.0       9581
20.0      9124
43.0      7701
42.0      7267
15.0      6690
37.0      5998
16.0      4325
28.0      4036
33.0      3817
6.0       3496
39.0      2943
40.0      2287
31.0      2261
34.0      2136
25.0      2102
41.0      1778
1.0       1624
29.0      1560
Name: regionCode, dtype: int64
取值少于100

Empty DataFrame
Columns: [counts]
Index: []

### dti

In [345]:
Rare_Get_Value_Counts(train_X,col = 'dti', num = 5)

完整的数值分布：

43.45    3271
19.20     593
18.00     585
17.61     574
13.20     570
         ...
41.07       1
40.46       1
40.99       1
41.52       1
41.83       1
Name: dti, Length: 4235, dtype: int64
取值少于5

       counts
40.84       5
42.15       5
42.32       5
41.64       5
40.89       5
...       ...
41.07       1
40.46       1
40.99       1
41.52       1
41.83       1

[213 rows x 1 columns]

In [346]:
Rare_Value_Impute(train_X,col = 'dti', num = 5,method='extreme', value = 9999)

0         17.05
1         27.83
2         22.77
3         17.21
4         32.16
          ...
799995    19.03
799996    15.72
799997    12.11
799998    29.25
799999     8.99
Name: dti, Length: 800000, dtype: float64

### delinquency_2years

In [347]:
Rare_Get_Value_Counts(train_X, col = 'delinquency_2years')

完整的数值分布：

0.0     645715
1.0     102586
2.0      29944
3.0      10919
4.0       4808
5.0       2504
6.0       1399
7.0        770
8.0        443
9.0        293
10.0       192
11.0       144
12.0        86
14.0        53
13.0        50
15.0        23
16.0        20
18.0        13
19.0        10
20.0         7
17.0         6
22.0         3
21.0         3
29.0         2
26.0         2
25.0         1
27.0         1
39.0         1
30.0         1
24.0         1
Name: delinquency_2years, dtype: int64
取值少于1

      counts
25.0       1
27.0       1
39.0       1
30.0       1
24.0       1

In [348]:
Rare_Value_Impute(train_X, col = 'delinquency_2years', num = 10, method='extreme', value = 9999)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
799995    0.0
799996    1.0
799997    1.0
799998    0.0
799999    0.0
Name: delinquency_2years, Length: 800000, dtype: float64

### ficoRangeLow

In [351]:
Rare_Get_Value_Counts(train_X, col = 'ficoRangeLow')

完整的数值分布：

660.0    71974
670.0    69815
665.0    69619
675.0    61993
680.0    61294
685.0    53668
690.0    52046
695.0    47065
700.0    43292
705.0    39030
710.0    34296
715.0    30154
720.0    26036
725.0    20766
730.0    18186
735.0    14377
740.0    12585
745.0    10336
750.0     9419
755.0     8191
760.0     6716
765.0     6163
770.0     5311
775.0     4882
780.0     4286
785.0     3476
790.0     3284
795.0     2637
800.0     2261
805.0     1942
810.0     1408
815.0     1111
820.0      827
825.0      636
830.0      412
835.0      249
840.0      140
845.0      116
630.0        1
Name: ficoRangeLow, dtype: int64
取值<=1

       counts
630.0       1

In [352]:
Rare_Value_Impute(train_X, col = 'ficoRangeLow', num=10,method='extremem', value = 999999999)

0         730.0
1         700.0
2         675.0
3         685.0
4         690.0
          ...
799995    710.0
799996    720.0
799997    670.0
799998    675.0
799999    695.0
Name: ficoRangeLow, Length: 800000, dtype: float64

### ficoRangeHigh

In [354]:
Rare_Get_Value_Counts(train_X, col = 'ficoRangeHigh')

完整的数值分布：

664.0    71974
674.0    69815
669.0    69619
679.0    61993
684.0    61294
689.0    53668
694.0    52046
699.0    47065
704.0    43292
709.0    39030
714.0    34296
719.0    30154
724.0    26036
729.0    20766
734.0    18186
739.0    14377
744.0    12585
749.0    10336
754.0     9419
759.0     8191
764.0     6716
769.0     6163
774.0     5311
779.0     4882
784.0     4286
789.0     3476
794.0     3284
799.0     2637
804.0     2261
809.0     1942
814.0     1408
819.0     1111
824.0      827
829.0      636
834.0      412
839.0      249
844.0      140
850.0      116
634.0        1
Name: ficoRangeHigh, dtype: int64
取值<=1

       counts
634.0       1

In [355]:
Rare_Value_Impute(train_X, col ='ficoRangeHigh', num = 10, method='extreme',value= 999999)

0         734.0
1         704.0
2         679.0
3         689.0
4         694.0
          ...
799995    714.0
799996    724.0
799997    674.0
799998    679.0
799999    699.0
Name: ficoRangeHigh, Length: 800000, dtype: float64

### openAcc

In [358]:
Rare_Get_Value_Counts(train_X, col = 'openAcc', num = 100)

完整的数值分布：

9.0     70865
10.0    69171
8.0     68201
11.0    64069
7.0     61355
        ...
82.0        1
81.0        1
86.0        1
74.0        1
67.0        1
Name: openAcc, Length: 75, dtype: int64
取值<=100

      counts
43.0      73
44.0      66
45.0      56
46.0      48
47.0      35
49.0      31
48.0      21
51.0      20
52.0      19
50.0      17
54.0      13
53.0      10
0.0        9
56.0       7
58.0       7
55.0       7
60.0       5
59.0       5
57.0       4
63.0       3
61.0       3
66.0       2
80.0       2
62.0       2
76.0       2
72.0       1
77.0       1
70.0       1
82.0       1
81.0       1
86.0       1
74.0       1
67.0       1

In [359]:
Rare_Value_Impute(train_X, col ='openAcc',num = 10, method= 'extreme', value = 999999)

0          7.0
1         13.0
2         11.0
3          9.0
4         12.0
          ...
799995    14.0
799996     7.0
799997     5.0
799998    16.0
799999     7.0
Name: openAcc, Length: 800000, dtype: float64

### pubRec

In [361]:
Rare_Get_Value_Counts(train_X, col = 'pubRec', num = 1000)

完整的数值分布：

0.0     664765
1.0     113186
2.0      14520
3.0       4432
4.0       1535
5.0        757
6.0        367
7.0        165
8.0        105
9.0         51
10.0        37
11.0        23
12.0        14
15.0         7
13.0         6
16.0         4
18.0         4
22.0         2
24.0         2
19.0         2
21.0         2
20.0         2
14.0         2
49.0         2
63.0         1
46.0         1
28.0         1
86.0         1
54.0         1
40.0         1
47.0         1
17.0         1
Name: pubRec, dtype: int64
取值<=1000

      counts
5.0      757
6.0      367
7.0      165
8.0      105
9.0       51
10.0      37
11.0      23
12.0      14
15.0       7
13.0       6
16.0       4
18.0       4
22.0       2
24.0       2
19.0       2
21.0       2
20.0       2
14.0       2
49.0       2
63.0       1
46.0       1
28.0       1
86.0       1
54.0       1
40.0       1
47.0       1
17.0       1

In [362]:
Rare_Value_Impute(train_X,col = 'pubRec', num = 1000, method='extreme',value= 999999)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
799995    0.0
799996    0.0
799997    0.0
799998    0.0
799999    0.0
Name: pubRec, Length: 800000, dtype: float64

### pubRecBankruptcies

In [363]:
Rare_Get_Value_Counts(train_X, col ='pubRecBankruptcies')

完整的数值分布：

0.0     700481
1.0      93639
2.0       4566
3.0        945
4.0        248
5.0         80
6.0         23
7.0         11
9.0          3
8.0          3
12.0         1
Name: pubRecBankruptcies, dtype: int64
取值<=1

      counts
12.0       1

In [364]:
Rare_Value_Impute(train_X, col = 'pubRecBankruptcies', num = 100, method='extreme', value = 999999)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
799995    0.0
799996    0.0
799997    0.0
799998    0.0
799999    0.0
Name: pubRecBankruptcies, Length: 800000, dtype: float64

### revolBal

In [368]:
Rare_Get_Value_Counts(train_X, col = 'revolBal', num = 1)

完整的数值分布：

40420.0    47355
0.0         3945
4784.0        73
6325.0        66
5723.0        65
           ...
32570.0        1
38884.0        1
40337.0        1
35415.0        1
37979.0        1
Name: revolBal, Length: 40221, dtype: int64
取值<=1

         counts
38268.0       1
35500.0       1
34520.0       1
36380.0       1
33633.0       1
...         ...
32570.0       1
38884.0       1
40337.0       1
35415.0       1
37979.0       1

[662 rows x 1 columns]

In [369]:
Rare_Value_Impute(train_X, col = 'revolBal', num = 1, method='extreme', value = 999999)

0         24178.0
1         15096.0
2          4606.0
3          9948.0
4          2942.0
           ...
799995     9933.0
799996    20472.0
799997     6381.0
799998    40420.0
799999     8420.0
Name: revolBal, Length: 800000, dtype: float64

### revolUtil

In [370]:
Rare_Get_Value_Counts(train_X, col ='revolUtil')

完整的数值分布：

0.00      4170
52.10     1604
55.00     1589
61.00     1579
53.00     1575
          ...
113.10       1
88.48        1
17.71        1
16.02        1
13.56        1
Name: revolUtil, Length: 1244, dtype: int64
取值<=1

        counts
115.70       1
119.00       1
116.50       1
112.40       1
111.10       1
...        ...
113.10       1
88.48        1
17.71        1
16.02        1
13.56        1

[111 rows x 1 columns]

In [371]:
Rare_Value_Impute(train_X, col = 'revolUtil', num = 1, method='extreme', value = 999999)

0         48.9
1         38.9
2         51.8
3         52.6
4         32.0
          ...
799995    46.4
799996    98.4
799997    51.9
799998    61.3
799999    72.6
Name: revolUtil, Length: 800000, dtype: float64

### totalAcc

In [372]:
Rare_Get_Value_Counts(train_X, col = 'totalAcc')

完整的数值分布：

20.0    28956
21.0    28820
19.0    28697
22.0    28671
18.0    28188
23.0    28108
17.0    28061
24.0    27446
16.0    27124
25.0    26441
15.0    25639
26.0    25408
14.0    24391
27.0    24357
13.0    22912
28.0    22843
29.0    21799
12.0    20929
30.0    20622
31.0    19285
11.0    18993
32.0    18346
33.0    16798
10.0    16617
34.0    15616
35.0    14456
9.0     14171
57.0    13446
36.0    13316
37.0    12346
8.0     11606
38.0    10978
39.0    10277
40.0     9327
7.0      9266
41.0     8453
42.0     7807
43.0     7035
6.0      6852
44.0     6486
45.0     5778
46.0     5054
47.0     4684
5.0      4674
48.0     4121
49.0     3753
50.0     3383
51.0     3058
4.0      2889
52.0     2685
53.0     2350
54.0     2128
55.0     1909
56.0     1676
3.0       754
2.0       215
Name: totalAcc, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []

### initialListStatus

In [373]:
Rare_Get_Value_Counts(train_X, col = 'initialListStatus')

完整的数值分布：

0    466438
1    333562
Name: initialListStatus, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []

### applicationType

In [374]:
Rare_Get_Value_Counts(train_X, col ='applicationType')

完整的数值分布：

0    784586
1     15414
Name: applicationType, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []

### title

In [375]:
Rare_Get_Value_Counts(train_X, col ='title')

完整的数值分布：

0.0     393334
4.0     148211
13.5    114382
5.0      44748
6.0      39742
3.0      14432
2.0       9906
10.0      8075
1.0       7005
9.0       6711
8.0       4753
11.0      4731
7.0       3545
12.0       425
Name: title, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []

### policyCode

In [376]:
Rare_Get_Value_Counts(train_X, col='policyCode')

完整的数值分布：

1.0    800000
Name: policyCode, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []

### n0-n14

In [377]:
"""
n0-n14都没有明显的rare value
"""
for idx in range(15):
    Rare_Get_Value_Counts(train_X, col = 'n'+str(idx))

完整的数值分布：

0.0    580437
1.0     97129
3.5     82612
2.0     39822
Name: n0, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

3.0     164208
2.0     155940
4.0     127828
1.0      88317
5.0      85632
6.0      53345
10.5     43860
7.0      32170
8.0      19318
0.0      17478
9.0      11904
Name: n1, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

4.0     118020
5.0     108927
3.0     107437
6.0      88965
2.0      71431
7.0      68888
8.0      51179
16.5     38337
9.0      36548
1.0      27370
10.0     25908
11.0     18248
12.0     13130
13.0      9382
14.0      6928
15.0      5176
0.0       4126
Name: n2, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

4.0     118010
5.0     108960
3.0     107487
6.0      88952
2.0      71372
7.0      68910
8.0      51244
16.5     38256
9.0      36574
1.0      27372
10.0     25897
11.0     18222
12.0     13152
13.0      9339
14.0      6932
15.0      5239
0.0       4082
Name: n3, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

3.0     135236
4.0     128801
2.0     106317
5.0     103903
6.0      76430
11.5     59408
7.0      53405
1.0      50340
8.0      36455
9.0      24602
10.0     16662
0.0       8441
Name: n4, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

5.0     77194
6.0     76251
4.0     71783
7.0     71655
8.0     64996
3.0     56817
9.0     56274
10.0    47731
21.0    43260
11.0    39792
2.0     35983
12.0    32746
13.0    26061
14.0    20990
15.0    16908
1.0     14502
16.0    13514
17.0    10602
18.0     8530
19.0     6708
20.0     5403
0.0      2300
Name: n5, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

4.0     65087
3.0     64485
25.0    62256
5.0     62226
2.0     58385
6.0     57632
7.0     51684
8.0     46240
1.0     44414
9.0     39871
10.0    34644
11.0    29765
12.0    25426
0.0     23004
13.0    22148
14.0    18812
15.0    16189
16.0    14150
17.0    12314
18.0    10570
19.0     9155
20.0     8067
21.0     6879
22.0     6283
23.0     5477
24.0     4837
Name: n6, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

6.0     83912
5.0     81136
7.0     79604
8.0     71803
4.0     68832
9.0     61489
10.0    51000
3.0     47854
21.0    43118
11.0    41757
12.0    33261
13.0    26386
2.0     24340
14.0    20637
15.0    16303
16.0    12724
17.0    10153
18.0     7949
19.0     6147
1.0      5902
20.0     4826
0.0       867
Name: n7, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

11.0    45171
10.0    45027
9.0     44250
12.0    43752
8.0     42431
13.0    41597
37.5    40304
7.0     39304
14.0    38965
15.0    36543
6.0     34289
16.0    33700
17.0    30751
5.0     27693
18.0    27502
19.0    25106
20.0    22442
4.0     20382
21.0    19682
22.0    17506
23.0    15377
24.0    13814
3.0     12441
25.0    12164
26.0    10205
27.0     9088
28.0     8138
29.0     7019
30.0     6090
2.0      5643
31.0     5231
32.0     4608
33.0     4101
34.0     3538
35.0     3125
36.0     2639
1.0       382
Name: n8, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

4.0     119075
5.0     109894
3.0     108133
6.0      89728
2.0      71852
7.0      69335
8.0      51305
9.0      36482
16.5     35124
1.0      27383
10.0     25771
11.0     17990
12.0     12871
13.0      9176
14.0      6795
15.0      4981
0.0       4105
Name: n9, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

9.0     68488
10.0    66837
8.0     65696
11.0    62011
7.0     58888
12.0    55715
6.0     48607
13.0    48497
14.0    41207
26.5    38869
5.0     34931
15.0    34750
16.0    29321
17.0    24082
4.0     21145
18.0    20016
19.0    16637
20.0    13301
21.0    10657
3.0      9278
22.0     9080
23.0     7170
24.0     5908
25.0     4753
2.0      2977
1.0       766
0.0       413
Name: n10, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

0.0    764552
1.0     35448
Name: n11, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

0.0    765316
1.0     34684
Name: n12, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

0.0    717591
1.0     82409
Name: n13, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []
完整的数值分布：

1.0    188769
2.0    172991
0.0    129310
3.0    125933
4.0     75116
7.0     51838
5.0     37351
6.0     18692
Name: n14, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []

### issueDate_year

In [379]:
Rare_Get_Value_Counts(train_X, col = 'issueDate_year')

完整的数值分布：

2015    223387
2016    173907
2014    133087
2017    100736
2013     79943
2018     33415
2012     31895
2011     12924
2010      6861
2009      2781
2008       907
2007       157
Name: issueDate_year, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []

### issueDate_month

In [380]:
Rare_Get_Value_Counts(train_X, col = 'issueDate_month')

完整的数值分布：

10    81035
7     76969
3     74774
11    67785
1     67280
8     66842
4     65147
5     62159
12    62121
2     62108
6     59689
9     54091
Name: issueDate_month, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []

### earliesCreditLine_year

In [389]:
train_X['earliesCreditLine_year'] = pd.read_csv("./train.csv")['earliesCreditLine_year']

KeyError: 'earliesCreditLine_year'

In [388]:
Rare_Get_Value_Counts(train_X, col = 'earliesCreditLine_year', num = 10)

完整的数值分布：

2001.0    53194
2002.0    51060
2003.0    50649
2000.0    50624
2004.0    49280
1999.0    45917
2005.0    44046
1998.0    38850
2006.0    37924
1997.0    33091
1996.0    32465
1995.0    30501
2007.0    28464
1994.0    27332
1993.0    22395
2008.0    18252
1992.0    15892
1990.0    15549
1991.0    14687
1989.0    14163
1988.0    11813
2009.0    11414
2010.0    10613
1987.0    10591
2011.0     9792
1986.0     9205
1985.0     8059
1984.0     7286
2012.0     6628
1983.0     5913
1982.0     4535
2013.0     3525
1981.0     3371
1979.0     2944
1978.0     2872
1980.0     2760
1977.0     2393
1976.0     1820
2014.0     1475
1975.0     1427
1974.0     1226
1973.0     1129
1972.0      964
1971.0      643
1970.0      588
1969.0      582
1968.0      431
1967.0      382
1966.0      238
1965.0      234
2015.0      201
1964.0      170
1963.0      117
1962.0       83
1960.0       58
1961.0       53
1959.0       40
1958.0       24
1957.0       15
1956.0       11
Name: earliesCreditLine_year, dtype: int64
取值<=10

Empty DataFrame
Columns: [counts]
Index: []

In [386]:
Rare_Value_Impute(train_X, col = 'earliesCreditLine_year', num = 10)

0         2001.0
1         2002.0
2         2006.0
3         1999.0
4         1977.0
           ...
799995    2011.0
799996    1989.0
799997    2002.0
799998    1994.0
799999    2002.0
Name: earliesCreditLine_year, Length: 800000, dtype: float64

### earliesCreditLine_month

In [383]:
Rare_Get_Value_Counts(train_X, col = 'earliesCreditLine_month')

完整的数值分布：

8     79208
9     77698
10    76726
11    70407
3     65035
12    64493
7     64440
5     62440
6     61858
4     61015
1     58605
2     58075
Name: earliesCreditLine_month, dtype: int64
取值<=1

Empty DataFrame
Columns: [counts]
Index: []

In [13]:
train_X.columns

Index(['id', 'loanAmnt', 'term', 'interestRate', 'installment',
       'employmentTitle', 'employmentLength', 'homeOwnership', 'annualIncome',
       'verificationStatus', 'isDefault', 'purpose', 'postCode', 'regionCode',
       'dti', 'delinquency_2years', 'ficoRangeLow', 'ficoRangeHigh', 'openAcc',
       'pubRec', 'pubRecBankruptcies', 'revolBal', 'revolUtil', 'totalAcc',
       'initialListStatus', 'applicationType', 'title', 'policyCode', 'n0',
       'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11',
       'n12', 'n13', 'n14', 'issueDate_year', 'issueDate_month',
       'earliesCreditLine_year', 'earliesCreditLine_month'],
      dtype='object')